@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/inter";
@import "@fontsource/inter/300.css";
@import "@fontsource/inter/500.css";

body {
  font-family: 'Inter', sans-serif;
}

a {
  @apply no-underline text-blue-500 dark:text-blue-200 hover:text-blue-400 visited:text-blue-400
}